app            = "bodypress-backend"
primary_region = "iad"

[env]
  PORT     = "4000"
  NODE_ENV = "production"

[http_service]
  internal_port       = 4000
  force_https         = true
  auto_stop_machines  = "stop"
  auto_start_machines = true

[deploy]
  release_command = "npx prisma migrate deploy"
